/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 40px;
}

/* Add a color to the active/current link */
.topnav a.active {

  background-color: #04AA6D;
  color: white;
  font-family: "roboto mono"
}

#calculate{

color: #1C7628;
border-color:#BFC6C0;
margin-left:10%;
margin-right:auto;
display:block;
margin-top:auto;
margin-bottom:1%;
border-radius: 10px;
font-size:20px;
padding:5px;
width:auto;
border:0.001;
box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

#quote {
color: black;
background-color: ;
border-color:#CDE3C0;
margin-left:10%;
margin-right:auto;
display:block;
margin-top:auto;
margin-bottom:0%;
font-size:40px;


}

body{

 background-color:#E5E5E5;


}

h2 {
font-background-color:#93A996;
font-family: "PT sans";
}

.results {
background-image: url("https://img.freepik.com/free-photo/white-paper-texture-background_125540-900.jpg?t=st=1669006821~exp=1669007421~hmac=7bae685db14f196004ea0da08de4698f42ce279bf005001aa4a013aa6bc48b31")


}
.ans1{
width: 30%;
height: 100px;
float: left

}
.ans{
margin-left: 30%;
height: 100px;

}

.form-input{
  padding:5px;
  width:11%;
  border:0;
  border-color:red;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  font-family: 'Roboto';
  border-radius:5px;
}
