
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 40px;
}

/* Add a color to the active/current link */
.topnav a.active {

  background-color: #04AA6D;
  color: white;
  font-family: "GT Walsheim Pro"

}

#calculate{

color: #1C7628;
border-color:#BFC6C0;
background-color:white;
margin-left:25%;
margin-right:auto;
display:block;
margin-top:auto;
margin-bottom:1%;
border-radius: 10px;
font-size:20px;
padding:5px;
width:auto;
border:0.0001%;
box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

#quote {

color: green;
background-color:;
border-color:#CDE3C0;
margin-left:20%;
margin-right:auto;

margin-top:auto;
margin-bottom:0%;
font-size:40px;
padding:5px;
width:auto;
border:0.0001%;
box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
border-radius: 10px;



}

body{

 background-color:#EFEFEF;


}

.h2 {
font-family: "GT Walsheim Pro";
}
.hr1 {
width: auto%;
margin-left: auto;
margin-right: auto;

}




.results {
margin-left:1%;
margin-right:auto;
display:none;
margin-top:auto;
margin-bottom:auto;
border-radius: 10px;
font-size:17px;
padding:5px;
width:50%;
border:0.0001%;
box-shadow:0 0 15px 4px rgba(0,0,0,0.06);

}
.h2{
margin-left:1%;
}


.ans1{
height: 100px;
float:left;
margin-left:2%;


}
.ans{

height: 100px;
margin-left:60%;

}

.form-input{
  margin-left:2%;
  margin-right:50%;
  margin-top:0.5%;
  padding:5px;
  width:auto;
  border:0;
  border-color:white;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:5px;
  font-family:"roboto"


}

.form {
margin-left:1%;
margin-right:auto;
display:block;
margin-top:auto;
margin-bottom:1%;
border-radius: 10px;
font-size:17px;
padding:5px;
width:50%;
border:0.0001%;
box-shadow:0 0 15px 4px rgba(0,0,0,0.06);

}

.form-label{
margin-left:2%;
}
